[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.skuf_1
Exec=/usr/bin/ru.auroraos.skuf_1
Name=SKUF
Name[ru]=SKUF

[X-Application]
Permissions=WebView;Camera;Internet;UserDirs
OrganizationName=ru.auroraos
ApplicationName=skuf_1
ExecDBus=/usr/bin/ru.auroraos.skuf_1
